<style>
    .baocaott-box tr th {
        vertical-align: middle;
        background-color: #fff8dc;
        border: 1px solid rgba(0, 0, 0, 0.6);
    }
    .baocaott-box tr td {
        vertical-align: middle;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
</style>
<div class="baocaott-box" style="padding: 15px 15px 0 15px">
    <h3 style="color: #000000; text-align: center">SỐ LIỆU QUAN TRẮC/DỰ BÁO MÔI TRƯỜNG</h3>
    <div class="form-group row" style="padding-top: 50px; padding-bottom: 10px">
        <div class="col-md-4">
            <h6 style="color: #000000; display: inline-block; width: 70px">Từ ngày</h6>
            <input type="date" class="form-control" ng-model="fromDate" style="width: 250px; display: inline-block" />
        </div>
        <div class="col-md-4">
            <h6 style="color: #000000; display: inline-block; width: 70px">Đến ngày</h6>
            <input type="date" class="form-control" ng-model="toDate" style="width: 250px; display: inline-block" />
        </div>
        <div class="col-md-2">
            <input class="btn btn-success" value="Lọc" style="width: 100px; cursor: pointer"/>
        </div>
        <div class="col-md-2">
            <input class="btn btn-primary" value="Xuất excel" style="width: 100px; cursor: pointer" />
        </div>
   
    </div>
    <table class="table table-bordered">
        <tr class="text-center">
            <th rowspan="3">TT</th>
            <th rowspan="3">Hệ thống/Trạm đo</th>
            <th colspan="{{bcheader[0].listbctt.length}}">Bảng tổng hợp chỉ tiêu chất lượng nước</th>
        </tr>
        <tr class="text-center">
            <th colspan="{{bcheader[0].listbctt.length}}">
                Ngày 14/03
            </th>
        </tr>
        <tr class="text-center">
            <th ng-repeat="bc in bcheader[0].listbctt">
                {{bc.listtt[0].Tenthuoctinh}}
                <i ng-if="bc.listtt[0].Donvitinh != null" style="font-weight: normal">({{bc.listtt[0].Donvitinh}})</i>
            </th>
        </tr>

        <tr class="text-center" ng-repeat="bctr in bcheader[0].listbcdd">
            <td>{{$index + 1}}</td>
            <td>{{bctr.listdd[0].Tendiadanh}}</td>
            <td ng-repeat="bctd in bcheader[0].listbctt">
            </td>
        </tr>

    </table>
</div>