
<div class="row" style="padding: 20px">
    <div class="col-md-12">
        <h6 style="font-weight: bold">Loại dữ liệu</h6>
        <!-- Default inline 1-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline1" style="font-weight: normal">Dữ liệu dự báo</label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline2" style="font-weight: normal">Dữ liệu quan trắc</label>
        </div>

    </div>
    <div class="col-md-12" style="padding-top: 15px">
        <h6 style="font-weight: bold">Nhập Excel</h6>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
            </div>
            <div class="custom-file" style="margin-right: 10px">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                       aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Chọn tệp</label>
            </div>
            <input class="btn btn-success" style="width: 100px; cursor: pointer" value="Tải lên"/>
        </div>
    </div>
</div>